*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #a8d7e7;
    width: 100%;
    text-align: center;
}

.game_space{
    border: 4px dotted #066f92;
    width: 70%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}